{% extends "main/base.html" %}

{% block title %} Today's Games {% endblock %}

{% block main %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/gamecards.css') }}">

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Today's Games</h1>
            <hr>
            <ul>
                {% for k, v in games.items() %}
                <div class="game-card"
                    style="background-image: linear-gradient(to right, rgba({{ v['away_team']['colour'][0] }}, {{ v['away_team']['colour'][1] }}, {{ v['away_team']['colour'][2] }}, 1), 
                                                                       rgba({{ v['home_team']['colour'][0] }}, {{ v['home_team']['colour'][1] }}, {{ v['home_team']['colour'][2] }}, 1))">
                    <img style="max-width: 250px; max-height: 250px"
                        src="{{ url_for('static', filename='logos/' + v['away_team']['name'] + '_logo.png') }}">
                    <img style="max-width: 35px; max-height: 35px"
                        src="{{ url_for('static', filename='img/at_sign.png') }}">
                    <img style="max-width: 250px; max-height: 250px"
                        src="{{ url_for('static', filename='logos/' + v['home_team']['name'] + '_logo.png') }}">
                    <br>
                    <br>
                    <br>
                    <a href="games/{{ k }}">
                        <button>Bet on this game!</button>
                    </a>
                    <br>
                    <br>
                </div>
                <hr>
                {% endfor %}

            </ul>
        </div>
    </div>
</div>
</div>

{% endblock %}