{% extends "main/base.html" %}

{% block title %} Today's Games {% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Today's Games</h1>
            <hr>

            <ul>
                {% for k, v in games.items() %}
                <img style="max-width: 100px; max-height: 100px" src="{{ url_for('static', filename='logos/' + v['away_team'] + '_logo.png') }}">
                <img style="max-width: 100px; max-height: 100px" src="{{ url_for('static', filename='logos/' + v['home_team'] + '_logo.png') }}">
                
                <br>
                {{ v['away_team'] }}    @    {{ v['home_team'] }}
                <br>
                <a href="games/{{ k }}"><button class="btn btn-primary">Bet on this game!</button></a>
                <br>
                <br>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}