{% extends "main/base.html" %}

{% block title %} Leaderboard {% endblock %}

{% block main %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/leaderboard.css') }}">

<br>
<table id="leaderboard">
    <tr>
        <th>Name</th>
        <th><img style="max-width: 35px; max-height: 35px; padding-top: 5px" src="{{ url_for('static', filename='img/CourtsideBets_logo.png') }}"></th>
    </tr>
    {% for i in range(users|length) %}
    <tr>
        <td>
            {{ users[i].first_name}}
        </td>
        <td>
            {{users[i].swishcoins}}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}