{% extends "main/base.html" %}

{% block title %} My Bets {% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>My Bets</h1>
            <hr>
            <ul>
            </ul>
            <p> {% for bet in user.bets %}
                <li>{% if bet.over_statistic == true %}
                    {{bet.player_name}} will get over {{bet.num_stats| round| int}} {{bet.statistic}}
                    {% else %}
                    {{bet.player_name}} will get under {{bet.num_stats| round| int}} {{bet.statistic}}
                    {% endif %}
                    <button type="button" class="close" onClick="deleteBet('{{ bet.id }}')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <br>
                    <button type="button" class="btn btn-primary" onClick = "checkBetStatus('{{ bet.id }}')">
                        Check status of bet!
                    </button>
                    {% if bet.game_status is none or bet.game_status == 1  %}
                        <p>The game hasn't started yet</p>
                    {% elif bet.game_status == 2 and bet.w_or_l is none %}
                        <p style="color: rgb(202, 181, 28)">The game is in progress. {{ bet.player_name }} currently has {{ bet.stats_actual }} {{ bet.statistic }}</p>
                    {% elif bet.game_status == 2 and bet.w_or_l == true %}
                        <p style="color: rgb(0, 240, 160)">You won! {{ bet.player_name }} currently has {{ bet.stats_actual }} {{ bet.statistic }}</p>  
                    {% elif bet.game_status == 2 and bet.w_or_l == false %}
                        <p style="color: red"> You lost. {{ bet.player_name }} currently has {{ bet.stats_actual }} {{ bet.statistic }}</p>                    
                    {% elif bet.game_status == 3 %}
                        {% if bet.w_or_l == true %}    
                        <p style = "color: rgb(0, 240, 160);">You won! {{ bet.player_name }} got {{ bet.stats_actual }} {{ bet.statistic }}!</p>
                        {% else %}
                        <p style = "color: red;">You lost. {{ bet.player_name }} got {{ bet.stats_actual }} {{ bet.statistic }}</p>
                        {% endif %}
                    {% endif %}
                </li>
                {% endfor %}
            </p>
        </div>
    </div>
</div>

<!-- {% with messages = get_flashed_messages(with_categories = true) %}
{% if messages %}
{% for category, message in messages %}
{% if category == 'error' %}
<div class="alert alert-danger alter-dismissable fade show" role="alert">
    {{ message }}
</div>
{% else %}
<div class="alert alert-success alter-dismissable fade show" role="alert">
    {{ message }}
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %} -->

{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>

<script>

function checkBetStatus(betID) {
    
    fetch("/check-bet-status", {
        method: "POST",
        body: JSON.stringify({betID: betID})
    }).then((_res) => {
        window.location.href="/my-bets";
    });
    
    console.log(betID)

}</script>
{% endblock %}