{% extends "main/base.html" %}

{% block title %} My Bets {% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>My Bets</h1>
            <hr>
            <ul>
            </ul>
            <p> {% for bet in user.bets %}
                <li>{% if bet.over_statistic == true %}
                {{bet.player_name}} will get over {{bet.num_stats| round| int}} {{bet.statistic}} 
                {% else %}
                {{bet.player_name}} will get under {{bet.num_stats| round| int}} {{bet.statistic}} 
                {% endif %}
                </li>
                {% endfor %}
            </p>
        </div>
    </div>
</div>

{% endblock %}